.landing-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.giant-text {
  margin: 0;
  font-size: 48px;
  hyphens: auto;
  font-family: 'Zilla Slab', monospace;
  font-weight: normal;
  width: 12ch;
}

.logo-wrapper {
  margin: 0px 40px;
  position: relative;
}

.logo-top-layer {
  opacity: 0.9;
  position: absolute;
  transform: translate(-5px, -5px) rotate(2deg) scale(.98);
}

.logo-top-layer, .logo-bottom-layer {
  transition: transform 100ms ease-out, opacity 100ms ease-in;
  width: 250px;
  height: 250px;
}

.logo-link {
  position: relative;
  width: 250px;
  height: 250px;
}

.logo-top-layer:hover {
  transform: none;
  opacity: 1;
}

#line {
  display: inline-block;
  font-style: normal;
  letter-spacing: 4px;
  opacity: 1;
  text-wrap: nowrap;
}

.animating {
  transition: letter-spacing 750ms ease-out, opacity 750ms ease-in;
}
