.landing-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.giant-text {
  margin: 0;
  font-size: 48px;
  hyphens: auto;
  font-family: 'Zilla Slab', monospace;
  font-weight: normal;
  width: 12ch;
}

.logo-wrapper {
  margin: 0px 40px;
  width: 250px;
  height: 250px;
}

.logo-svg {
  fill: var(--color-text-highlight);
  transition: transform 200ms ease-out, filter 200ms ease-in;
  /* filter: drop-shadow(2px 2px 1px var(--color-text-dark)); */
  filter: url(#inset-shadow) drop-shadow(2px 2px 4px var(--color-text-dark));
  stroke: var(--color-text-dark);
}

.logo-link {
  width: 250px;
  height: 250px;
}

.logo-link:hover .logo-svg {
  transform: rotate(-2deg);
  filter: url(#inset-shadow) drop-shadow(3px 3px 4px var(--color-text-dark));
}

.logo-link:active .logo-svg {
  transform: translate(2px, 2px) rotate(-4deg) scale(.95);
  filter: url(#inset-shadow) drop-shadow(1px 1px 4px var(--color-text-dark));
  /* filter: url(#inset-shadow); */
}

#line {
  display: inline-block;
  font-style: normal;
  letter-spacing: 4px;
  opacity: 1;
  text-wrap: nowrap;
}

.animating {
  transition: letter-spacing 750ms ease-out, opacity 750ms ease-in;
}
