.landing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.site-entry-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--color-text-dark);
}

.site-entry-link:hover {
  color: var(--color-text-dark);
}

.site-entry-link__text {
  margin: 0;
  font-size: 3rem;
  hyphens: auto;
  font-weight: normal;
  width: 12ch;
  text-align: center;
}

.site-entry-link__logo {
  fill: var(--color-text-highlight);
  transition: transform 200ms ease-out, filter 200ms ease-in;
  /* filter: drop-shadow(2px 2px 1px var(--color-text-dark)); */
  filter: url(#inset-shadow) drop-shadow(2px 2px 4px var(--color-text-dark));
  stroke: var(--color-text-dark);
  width: 250px;
  height: 250px;
}

.site-entry-link:hover .site-entry-link__logo {
  transform: rotate(-2deg);
  filter: url(#inset-shadow) drop-shadow(3px 3px 4px var(--color-text-dark));
}

.site-entry-link:active .site-entry-link__logo {
  transform: translate(2px, 2px) rotate(-4deg) scale(.95);
  filter: url(#inset-shadow) drop-shadow(1px 1px 4px var(--color-text-dark));
  /* filter: url(#inset-shadow); */
}

@media all and (max-width: 746px) {
  .site-entry-link {
    flex-direction: column;
    gap: 12px;
  }
  .site-entry-link .site-entry-link__logo {
  /* TODO animate logo in mobile */
  }
}