:root {
  --color-text-highlight: #ff1d8e;
  --color-text-dark: #2B363B;
  --color-text-extra-dark: #1A2023;
  --color-text-light: #F3F5F6;
  --color-background-light: #F3F5F6;
  --color-background-dark: rgba(53, 61, 70, 1);
  --color-background-highlight: #ff1d8e;
}

* {
  font-family: 'Zilla Slab', monospace;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url('../images/background-images/concrete.png');
  color: var(--color-text-dark);
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-text-extra-dark);
}

a:hover {
  color: var(--color-text-highlight);
}

nav {
  overflow: hidden;
  transition: background-color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
  padding: 10px 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
}

.menu-item {
  display: block;
  text-align: center;
  font-size: 18px;
  opacity: 0;
  transition: opacity 2s;
  color: var(--color-text-extra-dark);
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.nav-logo-wrapper img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
}

/* TODO */
footer {
  height: 200px;
  background-color: var(--color-background-dark);
  background-image: url('../images/background-images/ep_naturalblack.png');
  padding: 40px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-top: solid 3px var(--color-background-highlight);
}

footer a {
  color: var(--color-text-light);
}

.text-muted {
  color: #8f9296;
  font-size: 14px;
}

.text-highlight {
  color: var(--color-text-highlight);
  text-wrap: nowrap;
  font-style: normal;
  font-weight: bold;
}

.text-light {
  font-weight: 300;
}

.nav-background {
  /* background-color: var(--color-background-light); */
  /* border-bottom: solid 3px var(--color-text-dark); */
}

.sticky {
  position: fixed;
  top: 0;
}

/* prevent overlap */
.sticky+main {
  /* margin-top: 80px; */
}

main {
  font-size: 18px;
  height: 100%;
  min-height: 100vh;
  /* min-height: calc(100vh - 80px); */
  opacity: 0;
  transition: opacity 2s;
  display: flex;
  justify-content: center;
}

main.landing-section {
  opacity: 1;
}

.external-links {
  font-size: 24px;
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.internal-links {
  color: var(--color-text-light);
}

.internal-links>a {
  font-size: 18px;
}

.nav-logo-wrapper {
  position: relative;
  margin-right: auto;
  border: none;
  background: none;
  width: 64px;
  height: 64px;
}

.nav-logo-top-layer {
  transform: translate(-2px, -2px);
  opacity: .9;
}

.nav-logo-top-layer:hover {
  transform: none;
  opacity: 1
}

@media all and (max-width: 746px) {
  .nav-logo-wrapper, .nav-logo-wrapper img {
    width: 48px;
    height: 48px;
  }
}