body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: url('../images/background-images/concrete.png');
}

ul {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ff1d8e;
}

.text-muted {
  color: #8f9296;
  font-size: 14px;
}

.text-highlight {
  color: #ff1d8e;
}

.text-light {
  font-weight: 300;
}

.mono {
  font-family: 'Cutive Mono', monospace;
}

.box-shadow {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.07);
}

.bottom-shadow {
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.07);
}

header {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1% 1% 1% 2%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > h1 {
  font-size: 18px;
  opacity: 0.8;
}

nav {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
}

nav > a {
  display: block;
  text-align: center;
  padding: 14px;
  font-size: 18px;
}

nav > img {
  width: 64px;
  height: 64px;
  margin-right: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: calc(100% - 60px);
}
/* Add some top padding to the page content to 
  prevent sudden quick movement (as the navigation 
  bar gets a new position at the top of the page */
.sticky + main {
  margin-top: 80px;
}

main {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: normal;
  font-size: 18px;
}

.about-me {
  padding: 12% 10% 16% 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.about-me-img {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.about-me-text {
  width: 45%;
}

.round-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.portfolio-section {
  padding: 30px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: stretch;
  justify-content: center;
}

.portfolio-image {
  width: 100%;
  height: auto;
}

.portfolio-item-container {
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.portfolio-item-links {
  text-align: center;
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  color: black;
}

footer {
  height: 200px;
  background-color: #292c2f;
  background-image: url('../images/background-images/ep_naturalblack.png');
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
}

.external-links {
  font-size: 24px;
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.internal-links {
  color: white;
}
.internal-links > a {
  font-size: 18px;
}
