:root {
  --color-neutral-light: #F3F5F6;
  --color-neutral-dark: #2B363B;
  --color-neutral-extra-dark: #1A2023;
  --color-highlight: #eb2bbe;
  --color-orange: #fb8066;
  --color-blue: #70D6FF;
  --color-green: #32CD32;
  --color-purple: #DF73FF;
  --color-yellow: #E9FF70;
  --color-pink: #FFC6FF;

  --text-color__light: var(--color-neutral-light);
  --text-color__dark: var(--color-neutral-dark);

  --body-text-color: var(--text-color__light);
  --body-background-color: var(--color-neutral-extra-dark);
  --footer-background-color: var(--color-neutral-dark);
  --card-background-color: var(--color-neutral-dark);
  --skill-background-color: var(--color-neutral-light);
  --border-color: var(--color-highlight);
  --sparkle-color: lightyellow;
  --logo-color: var(--color-pink);
  --shadow-color__light: var(--color-purple);
  --shadow-color__dark: var(--color-neutral-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-background-color: #a2cedf;
    --body-text-color: var(--color-neutral-dark);
    --logo-color: var(--color-highlight);
    --shadow-color__light: var(--color-neutral-dark);
    --shadow-color__dark: var(--color-neutral-extra-dark);
    --card-background-color: var(--color-neutral-light);
  }
}

* {
  font-family: 'Zilla Slab', monospace;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100dvh;
  margin: 0;
  background-color: var(--body-background-color);
  /* background-image: url('../images/background-images/concrete.png'); */
  color: var(--body-text-color);
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--body-text-color);
}

a:hover {
  color: var(--color-highlight);
}

nav {
  overflow: hidden;
  transition: background-color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
  padding: 10px 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 100%;
  z-index: 10;
  /* Ensure nav stays above main content */
}

.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* LANDING PAGE */
.landing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.site-entry-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--logo-color);
}

.site-entry-link__text {
  margin: 0;
  font-size: 1.5rem;
  hyphens: auto;
  font-weight: normal;
  width: 12ch;
  text-align: center;
  color: var(--sparkle-color);
}

.site-entry-link:hover .site-entry-link__text {
  color: var(--logo-color);
}

.site-entry-link__logo {
  transition: transform 200ms ease-out;
  height: auto;
  width: 75vw;
  filter: drop-shadow(1px 1px 0 var(--shadow-color__dark)) drop-shadow(2px 2px 0 var(--shadow-color__light));
}

.site-entry-link:hover .site-entry-link__logo {
  color: var(--logo-color);
  transform: rotate(-2deg);
  filter: drop-shadow(1px 1px 0 var(--shadow-color__dark)) drop-shadow(3px 3px 0 var(--shadow-color__light));
}

.site-entry-link:active .site-entry-link__logo {
  transform: translate(2px, 2px) rotate(-4deg) scale(.95);
  filter: drop-shadow(1px 1px 0 var(--shadow-color__light));
}

@media all and (max-width: 746px) {
  .site-entry-link {
    flex-direction: column;
    gap: 12px;
  }

  .site-entry-link:active .site-entry-link__logo {
    animation: none;
  }

  /* TODO animate logo in mobile */
  .site-entry-link .site-entry-link__logo {
    /* animation: logoTransform 1s infinite ease-in-out; */
  }

  @keyframes logoTransform {
    0% {
      transform: scale(1);
    }

    50% {
      transform: rotate(-4deg) scale(1.15);

    }

    100% {
      transform: rotate(0) scale(1);
    }
  }
}

/* end landing page */

.menu-item {
  display: block;
  text-align: center;
  font-size: 1.125rem;
  transition: opacity 2s;
}

.menu-item:not(:last-child) {
  margin-right: 14px;
}

.nav-logo-svg {
  fill: currentColor;
  transition: transform 200ms ease-out;
}

.nav-logo-link:hover {
  color: var(--logo-color);
}

.nav-logo-link:hover .nav-logo-svg {
  transform: rotate(-4deg);
}

footer {
  height: 200px;
  background-color: var(--footer-background-color);
  padding: 40px 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
  border-top: solid 3px var(--border-color);
}

footer a {
  color: var(--text-color__light);
}

footer .external-links a:hover {
  color: var(--color-orange);
}

.text-muted {
  filter: brightness(0.75);
  font-size: .875rem;
  margin: 12px 0 0;
}

.text-highlight {
  color: var(--color-highlight);
  /* text-wrap: nowrap; */
  font-style: normal;
  font-weight: bold;
}

.text-light {
  font-weight: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

/* prevent overlap */
.sticky+main {
  /* margin-top: 80px; */
}

/* todo font size needed? */
main {
  font-size: 1.125rem;
  height: 100%;
  min-height: 100dvh;
  /* min-height: calc(100vh - 80px); */
}

.external-links {
  font-size: 1.5rem;
  width: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.internal-links {
  color: var(--text-color__light);
}

.internal-links>a {
  font-size: 1.125rem;
}

.nav-logo-link {
  margin-right: auto;
  border: none;
  background: none;
  width: 64px;
  height: 64px;
  color: var(--logo-color);
  filter: drop-shadow(1px 1px 0 var(--shadow-color__dark)) drop-shadow(2px 2px 0 var(--shadow-color__light));
}

@media all and (max-width: 746px) {

  .nav-logo-link,
  .nav-logo-link img {
    width: 48px;
    height: 48px;
  }

  footer {
    flex-direction: column;
    gap: 0;
  }
}